@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

.rot2{
    font-size: 12pt;
    text-align: left;
    font-family: 'Poppins', sans-serif;
    margin-left: 25%;
}