@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}


form {
    text-align: center;
    width: 500px;
    background-color: #c2e9fb;
    padding: 20px 30px 20px 30px;
    margin: 100px auto;
    border-radius: 25px;
    box-shadow: 0 5px 0 rgb(0, 91, 114);

}

.rtl {
    width: 100%;
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
}

.entrada, .saida {
    border: none;
    width: 85%;
    background-color: #f1f1f1;
    height: 30px;
    line-height: 30%;
    padding: 5px 0px 5px 5px;
    border-radius: 5px;
}

.saida{
    text-align: center;
    font-weight: 700;
    font-size: 13pt;
}

.btn{
    font-family: 'Arial', sans-serif;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    border: none;
    padding: 10px;
    cursor: pointer;
    background: rgb(0, 137, 172);
    color: white;
    box-shadow: 0 5px 0 rgb(0, 91, 114);
    border-radius: 10px;
}

.btn:hover {
    background: rgb(0, 98, 122);
    color: white;
    box-shadow: 0 5px 0 rgb(0, 50, 63);
}

.btn:active {
    position: relative;
    top: 5px;
    box-shadow: none;
}

.obs {
    text-align: center;
    font-weight: 700;
    font-size: 8pt;
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 91, 114);
    margin-top: 10px;
}

.obs:hover {
    font-size: 10pt;
}

#novamente {
    display: none;
}